
:root{
	--dark-Mode: #010232;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto','Outfit';
	/* font-style: normal; */
	--text-color: #d9d9d9;
	--box-color: rgba(255, 255, 255, 0.16);
	--tech-color:#FDCFFE;
	--test : #ff885a;
	--first-shape:linear-gradient(180deg, #9BFAFF 0%, var(--dark-Mode) 80.73%);
	--second-shape:linear-gradient(180deg, #92539F 0%, var(--dark-Mode) 99.48%);
	--third-shape:linear-gradient(180deg, #FDCFFE 0%, var(--dark-Mode) 100%);
	--fourth-shape:linear-gradient(180deg,#FFC5AF  0%, var(--dark-Mode) 100%);
}

body {
	min-height:100vh;
	background: var(--dark-Mode);
	font-family: 'roboto','Outfit';
	font-style: normal;
	color:var(--text-color);
	max-height:350vh;
	overflow-x: hidden;
}

.move{
	position: relative;
}


.Shape {
	border-radius: 50%;
	mix-blend-mode: normal;
	position: absolute;
	filter: blur(100px);
	z-index: -1;
}

.Shape1 {
	width: 837px;
	height: 872px;
	background: var(--first-shape);
}

.Shape2 {
	width: 488px;
	height: 506px;
	background:var(--second-shape);
}

.Shape3 {
	width: 911px;
	height: 952px;
	background: var(--third-shape);
}

.Shape4 {
	width: 488px;
	height: 506px;
	/* top:93rem; */
	background: var(--fourth-shape);
}
.menuContent {
	background-color: #11ffee00; /* Fully transparent */
	height: 6vh;
	display:flex;
	flex-direction: row;
	padding: 30px 20px 0px 20px;
	justify-content: space-between;
}

.menuContent>*{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}

/*menuContent for scrolling*/
.left>*{
	background-color: var(--box-color);
	border-radius: 50px;
	border-color: #11ffee00; /* Fully transparent */
	width: 139px;
	line-height: 38px;
	color:var(--text-color);
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	vertical-align: text-top;
	cursor:pointer;
}
.right>*{
	height: 38px;
}
.mode
{
	background-color: var(--box-color);
	border-radius: 50px;
	border-color: #11ffee00; /* Fully transparent */
	width: 74px;
	height: 38px;
}
.mode>*{
	width: 31px;
	height: 28px;
	border-radius: 50%;
	border: 0;
	background: var(--text-color);
	position: relative;
	left:40px;
	top: 5px;
	cursor:pointer;
}
.lang{
	display:flex;
	flex-direction: row;
	height:18px;
}
.lang>*{
	color:var(--text-color);
	background-color: #11ffee00;
	border: 0;
	cursor:pointer;
}
.langEng{
	border-right: var(--text-color) solid 1px;
}

h1{
font-family: 'roboto','Outfit';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 66px;
mix-blend-mode: normal;
height: 15vh;
line-height: 8vh;
text-align: center;

}

.block{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	justify-content: center;
	gap:60px;
}
.block>*{
	/* border: green dashed 3px; */
	/* min-height: 30px; */
	flex-basis: max-content;
	flex-grow: 1;
}
.top {
	display:flex;
	flex-direction: row;
	/* justify-content: space-between; */
	align-items: center;
}

.presentation {
	font-family: 'roboto','Outfit';
	font-style: normal;
	left: 10vh;
	top: 30vh;
	text-align: center;
	color: var(--text-color);
	max-width: 40rem;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	padding: 0 5%;
	align-items: center;
}

.presentation>*{
	flex-grow: 1;
	height:auto;
	justify-content: center;

}

.aboutme {
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: var(--text-color);
}

.links{
	display :flex;
	justify-content: space-around;
	align-items: center;
	gap: 100px;
	min-width: 60%;
	background:#010232;
	border-radius: 50px;
	padding: 10px;
}


.logoSchool {
	flex: 1;
	display :flex;
	justify-content: space-around;
	align-items: center;
}

.center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.center>*{
	text-align: center;
}
.language{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 0px 150px;
	font-weight: 400;
	font-size: 20px;
	font-family: 'roboto','Outfit';
	font-style: normal;
	color: var(--tech-color);
	align-content: space-around;
	flex-wrap: wrap;
	padding: 0 50px;
}

.language>*{
	flex: 1;
}

.bottom {
	display: inline-flex;
	flex-direction:column;
	flex-basis: min-content;
}
.bottom> :first-child{
	text-align: center; /* Center text horizontally */
}

.projectBlock{
	display: flex;
	flex-direction:row;
	margin-bottom: 80px;
	gap:30px;
	padding: 0 5%;

}

.projectBlock.alternate {
	justify-content: flex-end;
  }

  .footer{
	height:216px;
	width: 100%;
	padding: 20px 0;
	background:rgba(1, 2, 50, 0.20);
	align-items:center;
}

.projectImg{
	height: 276px;
	width: 276px;
}
.Info{
	align-items:flex-start;
}

.owner{
	align-items: center;
	width: 100%;
	height: 140px;
	border-right:var(--text-color) solid 1px;

}

  .footer,
  .footer > * {
	  display: flex;
	  flex-direction: row;
	  flex:1;
  }

.footer>*{
	justify-content: center;
	gap:30px;
}

.jumpTo > *,.FooterLinks > *,.owner>*{
	gap:10px;
	font-size: 16px;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	color: var(--text-color);
	text-decoration: none;
}

.jumpTo, .FooterLinks,.jumpTo>*,.FooterLinks>*{
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	justify-content: space-around;
}

.Frame>a,.owner>*{
	color: var(--text-color);
	text-decoration: none;
}

.Frame>h3{
	color: var(--text-color);
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}
.MenuButton{
	display:none;
}





@media (max-width: 1000px) {
	html{
		overflow-x:hidden;
		padding: 0;
	}
.MenuButton{
	margin-left: 5rem;
	top:5%;
	right: 5%;
	display:block;
	float: right;
	position:absolute;
	z-index: 5;
	cursor:pointer;
}

.smallMenu{
	background:var(--dark-Mode);
	top:3%;
	right: 0%;
	height:100%;
	position:absolute;
	display:flex;
	flex-direction: column;
	width: 80%;
	border-radius: 50px;
}

.menuLinks{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100%;
}
.menuLinks>*{
	color: var(--dark-color);
	cursor:pointer;

}
.body{
		margin:10px;
		overflow-x: hidden;
		padding: 0;
	}

.MenuButton{
	margin-left: 5rem;
	top:5%;
	right: 5%;
	display:block;
	float: right;
	position:absolute;
}
.MenuButton>*{
	background:var(--text-color);
}
.menuContent, .menuContent>*{
	flex-direction: column;
	width: 100%;
	gap:
}
.menuContent{
	display: none;
}

.top{
	flex-direction: column;
	gap:100px;
	width: 100%;
}
.projectBlock{
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.links{
	display :flex;
	justify-content: space-around;
	gap: 100px;
	margin-top: 30px;
}
.footer{
	flex-direction: column-reverse;
	gap:30px;

}
.owner{
	align-items: center;
	padding-top:10px;
	width: 70%;
	border-top:var(--text-color) solid 1px;
	border-right:none;
}
}

