.dynamic-div{
	font-family: 'roboto','Outfit';
	width:30vw;
	margin-bottom: 30px;
	display:flex;
	flex-direction: column;
}

@media (max-width: 1000px) {
	.dynamic-div{
		width:100%;
		margin-bottom: 30px;
		justify-content: center;
		text-align: center;
	}
}

.tech-used{
	font-size: 16px;
	font-weight: 100;
}

.title{
	font-size: 30px;
	font-weight: 600;
}

.description{
	font-size: 20px;
	font-weight: 390;
	line-height: 28px;
}
